<div class="container-nav">
  <ul class="container-nav-ul">
    <li class="container-nav-li">
      <a href="/products">Todos los productos</a>
    </li>
    <li class="container-nav-li">
      <a href="/form">Agregar producto</a>
    </li>
  
  </ul>
</div>